a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#sectionLinks{
	float: left;
	width:48px;
	height:381px;
	padding: 0px;
	background-color: #F5f7f7;
	border-left: 0px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin:0px;
	background-color: #CCCCCC;
	margin-right:3px;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-image: url(bg_nav.jpg);
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #DDEEFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}
.imagebutton {height: 22; width: 23; border: solid 2px #C0C0C0; background-color:#c0c0c0}
.matheditI{width:400;height:110}
.dis {
	background-color: #f4f4f4;
	height: 60px;
	width: 390px;
	left: 3px;
	top: 2px;
	clip: rect(2px,auto,auto,3px);
	margin-top: 4px;
	margin-left: 4px;
	font-size: 24px;
}
.in {
	font-size: 20px;
	color: #FF0000;
	background-color: #eeefff;
	width: 390px;
	height: 30px;
	margin-bottom: 4px;
	margin-left: 4px;
}
.lo {
  font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: 03dc88;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.log {
  font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #DA8700;
}
